<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/api/community/board/update" method="post" name="updateForm">
    <input type="hidden" name="postId" th:value="${postUpdate.postId}">
    author: <input type="text" name="author" th:value="${postUpdate.author}" readonly><br>
    pass: <input type="number" name="postPass" id="postPass"><br>
    title: <input type="text" name="title" th:value="${postUpdate.title}"><br>
    body: <textarea name="body" cols="30" rows="10" th:text="${postUpdate.body}"></textarea>
    <input type="hidden" name="postHits" th:value="${postUpdate.postHits}">
    <input type="button" value="글수정" onclick="postUpdate()">
</form>
<script th:inline="javascript">
    const postUpdate = () =>{
        const pass = [[${postUpdate.postPass}]];
        const inputPass = document.getElementById("postPass").value;
        if (pass == inputPass){
            document.updateForm.submit();
        } else{
            alert("비밀번호가 일치하지 않습니다");
        }
    }
</script>

</body>
</html>